graft src/redturtle
graft docs
include *.rst
global-exclude *.pyc
include *.GPL
include *.txt
exclude .flake8
include *.js
include *.json
include *.lock
include tox.ini
exclude .babelrc
exclude .nvmrc
recursive-include src *.bandit
