<?xml version="1.0" encoding="utf-8"?>
<registry>
  <record field="types_not_searched"
          interface="Products.CMFPlone.interfaces.controlpanel.ISearchSchema"
          name="plone.types_not_searched"
  >
    <value purge="False">
      <element>Prenotazione</element>
      <element>PrenotazioniDay</element>
      <element>PrenotazioniWeek</element>
      <element>PrenotazioniYear</element>
      <element>PrenotazioneType</element>
      <element>PrenotazioniFolder</element>
    </value>
  </record>

  <record field="parent_types_not_to_query"
          interface="Products.CMFPlone.interfaces.controlpanel.INavigationSchema"
          name="plone.parent_types_not_to_query"
  >
    <value purge="False">
      <element>Prenotazione</element>
    </value>
  </record>


  <record name="redturtle.prenotazioni.secret_cancellazione">
    <field type="plone.registry.field.TextLine">
      <title>Secret Cancellazione</title>
    </field>
    <value>whatever</value>
  </record>

</registry>
