.gates-rows {
    margin: 3rem 0;

    .row {
        display: flex;
        align-items: center;
        margin: 1rem 0 0 0;

        input[type='text'] {
            height: auto;
        }

        + .row {
            margin-top: 1rem;
        }

        .column {
            margin-right: 1rem;
        }
    }

    button.context {
        margin-top: 1rem;
        font-size: 1.25rem;
    }
}
